/* CSS Document */
@charset "utf-8";
body{ background:#f6fafb;}
span.scd{display:inline-block;width:36px;height:15px;margin-left:10px;vertical-align:middle;background:url(https://image.zuchecdn.com/newversion/news/common/scd_icon.png) no-repeat;text-indent:-9999px;}
.orderContainer{ width:1190px; margin:0 auto;}
.orderLeft{ width:820px; float:left;}
.orderRight{ width:350px; float:right; overflow:hidden;}
.orderBoxBlue{ border:solid 1px #dbe4eb; border-bottom-width:2px; background:#fff;}
/*order取车门店*/
.orderContainer .areaSelection ol.xbox li.graybor{width:155px; position:relative;}
.orderContainer .areaSelection ol.xbox li.bluebor {width: 542px;height:5px; border-bottom: 1px solid #61a1df; position:relative;}
/*搜索*/
.takeCar{ padding:20px 19px; position:relative;}
.orderCar{ position:absolute; right:10px; top:30px;}
.takeCar .wCity{ width:80px;}
.takeCar .wservice{ width:150px;}
.takeCar .wdate{ width:130px;}
.takeCar .checkbox{ display:inline-block; position:relative; top:5px;}
.takeCar .checkbox a{  width:16px; height:16px; display:inline-block; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat 0 0; }

/*筛�?*/
.orderLevel{ padding-top:8px;min-height:39px; border-bottom:dashed 1px #dbe4eb; overflow:hidden;zoom:1;}
.orderBrand{ min-height:39px; border-bottom:dashed 1px #dbe4eb; overflow:hidden;zoom:1;}
.orderRent{ min-height:39px; padding-bottom:9px; overflow:hidden;zoom:1;}
.orderChoose label{ width:70px; height:39px; display:inline-block; float:left; line-height:39px; text-align:center;}
.orderChoose span{  display:inline-block; float:left;padding-right:17px;}
.orderBrand span.brandname{width: 85px;padding-right:0;}
.orderChoose span a{ width:16px; height:16px; display:inline-block; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -26px 0; position:relative;*+position:inherit; top:4px; *+top:0px; margin-right:6px;}
.orderChoose span a.checked{ background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -52px 0;}
.orderChoose span em{height:39px; line-height:39px; display:inline-block; font-style:normal; color:#848484;font-family:arial, Simsun, sans-serif;}
.orderRent span.rentRange{ width:125px;}
.orderChoose a.moreBrand,.orderLevel a.moreLevel{ line-height:39px; display:inline-block; background:url(https://image.zuchecdn.com/newversion/common/arrow_down.png) no-repeat right center; padding-right:13px; margin-left:-10px; color:#61a1df;}
.orderChoose a.moreup,.orderLevel a.moreLevelup{ line-height:39px; display:inline-block; background:url(https://image.zuchecdn.com/newversion/common/arrow_up.png) no-repeat right center; padding-right:13px; color:#61a1df;}
.orderChoose a.moreBrand:hover,.orderChoose a.moreup:hover,.orderLevel a.moreLevel:hover,.orderLevel a.moreLevelup:hover{ text-decoration:none;}
.orderBrandMore{ display:none;}
.orderBrandMore label{ text-indent:-9999px;}

/*车辆列表*/
.orderList{ margin-top:20px;}
h3.orderTitle{ height:38px; line-height:38px; border-bottom:solid 1px #dbe4eb; font-weight:normal; overflow:hidden;zoom:1;}/*公共标题*/
.orderTitleR{ font-family:"微软雅黑"; padding:0 20px;}
.orderTitleR span{ float:right; color:#848484;}
.orderList h3 .sort{ padding:0 10px;line-height:37px;border-right:solid 1px #dbe4eb; display:inline-block;float:left; text-align:center; margin:0px;position: relative;}
.orderList h3 .sort a{ padding-right:13px; background:url(https://image.zuchecdn.com/newversion/common/sort.png) no-repeat right  center;}
.orderList h3 .sort a.sort02{ background:url(https://image.zuchecdn.com/newversion/common/sort02.png) no-repeat right  center;}/*update 131223*/
.orderList h3 .sort a:hover{ text-decoration:none;}
.orderList h3 .sort .icheckbox_polaris{display:inline-block;position:absolute;top:10px;left:4px;} 
.orderList h3 .notes{ display:inline-block;float:right; line-height:39px; color:#61a1df; padding:0 10px 0 0;}
.orderList ul li{ height:79px; padding:17px 19px; border-bottom:dashed 1px #dbe4eb; position:relative; z-index:1;}
.orderList ul li:last-child{border-bottom:0;}
.orderList ul li .pic{ width:185px; height:75px; overflow:hidden; float:left; margin-right:20px;position:relative}
.orderList ul li .pic img{max-width:185px; height:68px; overflow:hidden; position:absolute; left:0; top:0;}/*update 131223*/
.orderList ul li .info{ height:75px;float:left; color:#3b3b3b;}
.orderList ul li .info .carName{ display:block; height:25px; padding-left:30px;line-height:25px; position:relative;}/*update 131223*/
.orderList ul li .info .carName .carLogo{ top:0; left:0; line-height:0;}
.orderList ul li .info .carName img{ position:absolute;}
.orderList ul li .info .carSet{ padding-left:30px;line-height:25px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -80px -140px;}
.orderList ul li .info .carPeople{ padding-left:30px;line-height:25px;background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -80px -175px;}
.orderPrice{ position:absolute; right:130px; top:35px;/* width:125px;*/ min-width:125px; text-align:right;}/*update 131223*/
.orderList ul li .orderBtn{ float:right; position:relative; margin-top:24px;}
.sz_priceTotal{ color:#848484; display:block; overflow:hidden;zoom:1; float:right;}
.sz_priceTotal em.total{font:12px/13px "宋体";color:#848484; float:left; }
.sz_priceTotal em.rmb{ width:10px; height:13px; display:inline-block;font:14px/13px "微软雅黑";color: #848484; float:left; margin-right:3px;}
.sz_priceTotal em.num{  height:13px; display:inline-block;font:14px/13px Arial, Helvetica, sans-serif;color: #848484; float:left;}
.sz_arrowGray{ width:13px; height:7px; display:inline-block; float:left; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -59px -26px; margin:3px 0 0 3px;}
.sz_arrowOrange{ width:13px; height:7px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -36px -26px; position:absolute; left:43%; bottom:-13px;}
.sz_arrowOrangeUp{ width:13px; height:7px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat 0 -47px; position:absolute; left:43%; bottom:-13px;}


/*租车展开 �?*/
.orderListBox{ width:610px; height:79px; padding:10px 95px 0 95px; border:solid 1px #ff6600; border-bottom-width:2px; position:absolute; top:92px; right:8px;z-index:99999; background:#fff;}
.orderBoxTop{ width:84px; height:72px; padding-right:10px;border:solid 1px #ff6600; border-bottom:0; background:#fff; position:absolute; right:-1px; top:-73px;}
.orderList ul li .orderBoxTop .orderBtn{ margin-top:20px;}

.Orangebox{ width:277px; height:68px;overflow:hidden;background:#fff url(https://image.zuchecdn.com/newversion/common/orderBox.png) no-repeat 0 0; display:inline-block;float:left;}
.Orangebox_left{ width:73px; height:58px; padding:8px 0 0 10px; float:left;color:#ff6600; margin-right:6px;}
.Orangebox_right{ padding:10px 0; float:left; text-align:right;} 
.OrangeboxPrice{width:100px; padding-right:8px; float:left; overflow:hidden;}
.OrangeboxBtn{ margin-top:10px; float:left;}

/*租车展开 �?*/
.Bluebox{ width:277px; height:68px;overflow:hidden; background:#fff url(https://image.zuchecdn.com/newversion/common/orderBox.png) no-repeat 0 -78px;display:block;margin-right:56px;_margin-right:50px; float:left;}
.Bluebox_left{ width:68px; height:58px; line-height:50px; padding:8px 0 0 10px; float:left;color:#61a1df; margin-right:6px;}
.Bluebox_right{ padding:10px 0; float:left; text-align:right;} 
.BlueboxPrice{width:100px; padding-right:8px; float:left; overflow:hidden;}
.BlueboxBtn{ margin-top:10px; float:left;}

/*租车展开 �? 一行显示三�?*/
.orderListBoxThree{padding:10px 0 0 6px;width:802px;}
.BlueboxThree{margin-right:6px;}
.OrangeboxThree{width:253px;margin-right:3px;background:url(https://image.zuchecdn.com/newversion/common/orderboxThree.png) no-repeat 0 0;padding-right:3px;}
.Orangebox_leftThree{width:60px;padding:8px 0 0 5px;}

/*价格日历*/
.calendarPrice{ width:308px; height:auto; border:solid 2px #61a1df; position:absolute; right:0; top:50px; background:#fff; z-index:999999; display:none;font-size:12px;}/*update 131223*/
.calendarPrice .arrowUp{ width:12px; height:8px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -23px -47px; overflow:hidden; display:block; position:absolute; right:36px; top:-8px;}
.calendarPrice .calendarTitle{ height:32px; line-height:32px; text-align:center;border-bottom:solid 1px #61a1df; color:#61a1df; font-weight:bold;background:#fff;}
.calendarPrice .calendarBottom{font: 12px/12px "微软雅黑"; *font: 13px/13px "微软雅黑";height:31px; line-height:31px; background:#e9f2fa; padding:0 10px; color:#61a1df;}
.calendarPrice .calendarWeek{ height:24px; border-bottom:solid 1px #dbe4eb;background:#fff;}
.calendarPrice .calendarWeek span{ width:43px; display:inline-block; float:left; line-height:24px; text-align:center;}
.calendarPrice .calendarDays{ height:39px; border-bottom:solid 1px #e0e9f2; overflow:hidden;*zoom:1;background:#fff;}
.calendarPrice .calendarDays a{width:43px; display:inline-block; float:left; line-height:39px; text-align:center; border-right:solid 1px #e9f2fa; background:#f9f9f9; cursor:pointer; position:relative; height:39px; overflow:hidden;font: 12px/12px "微软雅黑"; *font: 13px/13px "微软雅黑"; cursor:pointer;}
.calendarPrice .calendarDays a em{ display:block; position:absolute; width:100%;line-height:15px; font-style:normal;}
.calendarPrice .calendarDays a em.date{ left:4px;  top:4px; text-align:left;}
.calendarPrice .calendarDays a em.SpOffer{ left:0;  bottom:0;}
.calendarPrice .calendarDays a.current{background:#fff1d6;}
.calendarPrice .calendarDays a:hover{ z-index:99; background:#fff1d6; text-decoration:none;}
.calendarPrice .calendarDays a:hover .shadow,.calendarPrice .calendarDays a .shadow{ width:41px; height:37px; display:block; border:solid 1px #fdb811; cursor:pointer; z-index:999; position:absolute; top:0; left:0;}
.calendarPrice .calendarDays a .shadow{ display:none;}
.calendarBlue{ color:#61a1df;}
.calendarGray{ color:#b9b9b9;}
.calendarOrange{ color:#ff6600;}

/*地图*/
.orderMap{ overflow:hidden;}
.orderMap .map{ height:213px;}
.orderMap .map img{ display:block; border-bottom:solid 1px #dbe4eb;}
.orderMap dl{ padding:5px 0 0 19px;}
.orderMap dl dt{ color:#848484; font: bold 14px/28px "宋体";}
.orderMap dl dd{ line-height:24px; overflow:hidden;zoom:1;}
.orderMap dl dd label{ width:60px; display:inline-block; float:left;}
.orderMap dl dd span{width:230px;display:inline-block;}
.orderMap dl dd span a{ display:inline-block; color:#61a1df; background:url(https://image.zuchecdn.com/newversion/common/arrow_r.png) no-repeat right center; padding-right:10px;}
.orderMap dl dd span.service{ background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat -90px -210px; padding-left:24px;}

/*顺丰车站*/
.orderStation ul{ padding:0;}/* update 131223*/
.orderStation ul li{overflow:hidden;zoom:1; padding:10px 20px 8px 0;}/* update 131223*/
.orderStation ul li span{ width:125px;display:inline-block; text-align:center; line-height:22px; float:left;}
.orderStation ul li span.direction{ margin-top:12px;}
.orderStation ul li span.sz_priceOrange{ width:auto; margin-top:15px; float:right;}
.orderStation ul li span.sz_priceOrange em.num{ font-size:24px; line-height:31px;}

/*选车记录*/
.orderHistory ul{ padding:5px 0;overflow:hidden;zoom:1;}/* update 131223*/
.orderHistory ul li{ height:32px; line-height:32px; padding:0 20px; border-bottom:dashed 1px #dbe4eb; color:#848484;}/* update 131223*/
.orderHistory ul li .carName{ width:95px;}
.orderHistory ul li .carSet{  width:150px;}
.orderHistory ul li .carPrice{ float:right; margin-top:10px;}
.orderHistory .clearHistory{ height:32px; line-height:32px; padding:0 20px; text-align:right;}
.orderHistory .clearHistory a{ color:#848484;}

/* 订单详情 */
.orderDetails{ width:980px; margin:0 auto; color:#848484;}
/*左侧*/
.orderDetails .orDeBoxLeft{ width:307px;border:solid 1px #dbe4eb; padding-bottom:15px; float:right; background:#fff;}
.orderDetails .orDeBoxLeft .orderMap dl{ padding-left:10px;}
.orderDetails .orDeBoxLeft .describe{ padding:0 8px; padding-top:14px;border-top:solid 2px #dbe4eb;}
.orderDetails .orDeBoxLeft .describe h3{ height:23px; display:block; font-size:14px; font-weight:bold;}
.orderDetails .orDeBoxLeft .describe p{ display:block; line-height:24px; text-align:justify;}
.orderDetails .orDeBoxLeft .describe .describePart{ margin-bottom:26px;}
.describePart .infoList{ padding-left:12px; position:relative;}
.describePart .infoList span{ width:12px; height:15px; _line-height:12px; display:inline-block; position:absolute; top:0; left:0;_left:-12px; z-index:99; *zoom:1;}
*+html .describePart .infoList span{line-height:12px;}
.describePart .infoList em{ color:#ff6600; font-style:normal;}
.describePart .infoList strong{color:#ed5565; font-weight:normal;}
/*右侧*/
.orderDetails .orDeBoxRight{ width:660px; float:left;border:solid 1px #dbe4eb;}
.orDeBoxRight h3{height:40px; line-height:40px; background:#eaf6fd;border-bottom:solid 1px #dbe4eb; font-size:16px; color:#61a1df; font-family:"微软雅黑"; padding:0 10px; font-weight:normal;}
.orDeBoxRight h3.pink{ background:#fdf1ea; color:#ff6600;}
.orDeBoxRight h3.graybg{background: #f3f3f3;color: #a1a1a1;}
.orDeBoxRight h3 a{ float:right;color:#61a1df; padding-left:19px; display:block; background:url(https://image.zuchecdn.com/newversion/common/edit.png) no-repeat left center; font-family:"宋体"; font-size:14px;}
/*右侧 基本信息*/
.orDeBoxRight .orderInfo{ height:183px;border-bottom:solid 1px #dbe4eb; overflow:hidden;*zoom:1; color:#333; background:#f9fdff;}
.orDeBoxRight .orderInfo .carInfo{ width:315px; height:183px; float:left;border-right:solid 1px #dbe4eb; text-align:center; font-family:"微软雅黑"; font-size:16px; vertical-align:middle;}
.orDeBoxRight .orderInfo .carTime{ width:343px;height:183px; float:left;overflow:hidden; }
.orDeBoxRight .orderInfo .carTime ul li{ height:45px; line-height:45px; font-size:14px; padding-left:18px;}
.orDeBoxRight .orderInfo .carTime ul li span{ font-weight:bold;}
/*右侧 可选服�?*/
.orderSelService{ background:#f9fdff;}
.SelServiceItem{ min-height:57px; padding:0 0 17px 10px; overflow:hidden;*zoom:1;}
.SelServiceItem a.unchecked,.SelServiceItem a.checked{ float:left; margin-top:27px;}
.SelServiceItem .serviceName{ width:95px; padding:0 10px; line-height:20px; display:inline-block;float:left;font-size:14px; font-weight:bold; color:#333; margin-top:27px;}
.SelServiceItem .serviceReceipt{ padding:0 10px; line-height:20px; display:inline-block;float:left; font-size:14px; font-weight:bold; color:#333; margin-top:27px;}
.SelServiceItem .serviceReceipt em,.SelServiceItem em.fl{color:#848484; line-height:22px; font-style:normal; font-weight:normal;font-size:12px;  letter-spacing: 1px;}
.SelServiceItem em.fl{display: block;margin-top:27px;width:525px;}
.SelServiceItem p{ display:block; float:left; color:#848484; line-height:22px; margin-top:27px;width: 428px;}
/*右侧 费用明细*/
.orderFeeDetails{background:#fffbf8;}
.feeItem{height:74px; padding:0 10px; overflow:hidden;*zoom:1;}
.feeItem a.prev,.feeItem a.next{width: 10px;height: 20px;display:block;text-decoration: none;text-indent: -9999px;}
.feeItem a.prev{background:url(https://image.zuchecdn.com/newversion/common/arrowLeft.png) no-repeat 0 0;}
.feeItem a.next{background:url(https://image.zuchecdn.com/newversion/common/arrowRight.png) no-repeat 0 0;}
.feeItem .feeName{ padding:0 10px; line-height:20px; display:inline-block;float:left;font-size:14px; font-weight:bold; color:#333; margin-top:30px;}
.feeItem .feeName em{color:#848484; line-height:22px; font-style:normal; font-weight:normal;font-size:12px;}
.feeItem .feeName .iconTips{ position:relative; top:4px;text-decoration:none;}
.feeItem .feeName .iconTips .floatBox{ width:338px; color:#ed5565; top:-10px; left:23px; background:#fdfcfa; display:none;}
.feeItem .feeName .iconTips .floatBox .arrow{ width:8px; height:12px; left:-8px;top:10px; background-position:-60px -64px;}
.feeItem .feeName .iconTips .floatBox p{ text-indent:2em; font-weight:normal; font-size:12px; color:#333;}
.feeItem .feeName .iconTips:hover{ z-index:9999; text-decoration:none;}
.feeItem .feeName .iconTips:hover .floatBox{ display:block; z-index:99999;}
.feeItem .feePrice{ float:right;margin-top:27px;}
.feeItem .calculate{ float:right;margin-top:33px;}
.feeItem .feeNone{ color:#848484; font-size:16px; font-weight:bold; float:right;margin-top:30px;}
.feeline50{height:50px; padding:0 10px; overflow:hidden;*zoom:1; display: none;}
.feeline50 .feePrice{ float:right;margin-top:17px;}
.feeline50 .feeName{ padding:0 26px; line-height:20px; display:inline-block;float:left;font-size:12px; color:#848484; margin-top:15px;}
.feeline50 .sz_OrderpOrangeM em.rmb{font:bold 14px/14px "微软雅黑";margin: 2px 0px 0 0}
.feeline50 .sz_OrderpOrangeM em.num{font:bold 18px/18px arial;}
.feeline50 .calculate{ float:right;margin-top:20px;}
.feeline50 .feeNone{ color:#848484; font-size:16px; font-weight:bold; float:right;margin-top:17px;}
.selectabletotal{position: relative;cursor: pointer;}
.feeName b.down{width:12px; height:8px; background:url(https://image.zuchecdn.com/newversion/common/order.png?v=201506300000) no-repeat -23px -47px; overflow:hidden; display:none; position:absolute; left:83px; top:36px;}
.feeName b.up{width:12px; height:8px; background:url(https://image.zuchecdn.com/newversion/common/order.png?v=201506300000) no-repeat -63px -196px; overflow:hidden; display:block; position:absolute; left:83px; top:36px;}
.feeDay{ height:52px;  float:left; border:solid 1px #61a1df; border-right:0; text-align:center; margin-top:10px;}
.feeDay li{ width:112px; height:49px;padding-top:3px; line-height:26px; float:left;border-right:solid 1px #61a1df; background:#fff;}
.feeTotalDay{ display:inline-block; float:left; font-size:14px;color:#848484; margin:30px 0 0 10px;}
.feeTotalDay span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ff6600;}
.discount .use{ display:inline-block; float:left; color:#848484; font-size:14px; margin-top:30px; padding:0 10px 0 6px;}
.discount a.checked,.discount a.unchecked{ float:left; margin-top:30px;}
.discount input{ float:left; width:100px; margin:24px 20px 0 8px;}
/*右侧 发票展开*/
.orderReceipt{ height:368px;}
.receiptInfo{ width:485px; clear:both; padding-left:100px;}
.receiptInfo .selectPeople{ padding:25px 0 18px 0;overflow:hidden;*zoom:1;}
.receiptInfo .selectPeople a{ float:left;}
.receiptInfo .selectPeople label{ display:inline-block; float:left; line-height:20px; padding:0 38px 0 10px;}
.receiptInfo .save{ padding-left:22px; line-height:16px; float:right;}
/*右侧 费用总计 */
.orderFeeTotal{padding:22px 10px; text-align:right; position:relative; background:#fff;}
.orderFeeTotal .sz_OrderpOrangeB{ position:relative; top:10px;}
.orderFeeTotal .yjtotal{ font-size:14px; font-weight:bold; color:#848484; display:inline-block;}
.orderFeeTotal .iconTips{ position:relative; top:2px; text-decoration:none;}
.orderFeeTotal .iconTips .floatBox{ width:220px; color:#ed5565; top:20px; left:-24px; display:none;}
.orderFeeTotal .iconTips:hover{ z-index:9999; text-decoration:none;}
.orderFeeTotal .iconTips:hover .floatBox{ display:block; z-index:99999;}
/*立即支付*/
.orderFeeTotal .pay{ padding:17px 10px; width:310px; border:solid 1px #ed5565; position:absolute; left:2px; top:2px;}
.orderFeeTotal .pay .iconTips,.orderFeeTotal .weekPay .iconTips{ top:-12px;}
.orderFeeTotal .pay .yjtotal,.orderFeeTotal .weekPay .yjtotal{ position:relative; top:8px;}
.orderFeeTotal .payNote{ padding:22px 10px; width:265px; position:absolute; left:2px; top:2px; color:#ed5565; text-align:left;}
.orderFeeTotal .weekPay{ padding:17px 10px; width:310px; border:solid 1px #ed5565; position:absolute;right:2px;top:2px;}
/*上门送车*/
.orderBoxBlue .sz_bd{min-width:1000px;max-width:1190px; width:100%; margin:0 auto; position:relative;}
.orderBoxBlue .dayS{position:absolute; width:34px; height:28px; line-height:28px; color:#61a1df; font-size:12px; top:-5px; *+top:2px; left:130px; text-align:right;}

/*订单部分*/
.Wbanner980{width:980px; margin:0 auto;}
.sz_succeedB{padding:15px;position:relative;}
#order_head .sz_hd{width:980px;min-width:980px;}
.order_flow_blue{ color:#61a1df;font-family: "微软雅黑", arial, Simsun, sans-serif; font-size:14px;}
.order_flow_blue p{ width:914px; background:#61a1df url(https://image.zuchecdn.com/newversion/common/liuchengtiao.png) repeat-x; height:25px; }
.order_flow_blue span{ padding-left:90px;}
.order_flow_pink{ color:#f27985;font-family: "微软雅黑", arial, Simsun, sans-serif; font-size:14px;}
.order_flow_pink p{ width:914px; background:#f27985 url(https://image.zuchecdn.com/newversion/common/liuchengtiao.png) repeat-x; height:25px;}
.order_flow_pink span{ padding-left:75px; padding-right:10px;}
.order_lcdown{position:absolute; right:20px; top:5px;}
.order_lcdown a{ text-decoration:none;}
.succeedinfo .iconTips{ position:relative; top:2px;text-decoration:none;}
.succeedinfo .iconTips .floatBox{ width:410px; color:#ed5565; top:20px; left:-10px; background:#fdfcfa; display:none;}
.succeedinfo .arrow{ width:12px; height:12px; left:10px;top:-8px; background-position:0px -26px;}
.succeedinfo .iconTips .floatBox p{font-weight:normal; font-size:12px; color:#848484;}
.succeedinfo .iconTips:hover{ z-index:9999; text-decoration:none;}
.succeedinfo .iconTips:hover .floatBox{ display:block; z-index:99999;}
.sz_dd_kjt{ min-width:340px; position:absolute; z-index:888888;margin-left:345px; *+margin-left:50px; margin-top:40px;}
.sz_dd_kjt .yellow_sj{ top:-7px; left:17px;}

/*新增 订单付款*/
/*快捷�?*/
.sz_kjt{ display:inline-block; position:relative;}
.sz_kjt .floatBox{ left: 130px;*+left: 160px; top: 3px; padding:3px 5px; color:#ed5565; width: 120px;}
.sz_kjt .floatBox .arrow{ width:8px; height:12px; background-position:-60px -64px; left:-8px; top:6px;}
/*订单详情展开收缩*/
.sz_orderZk{ width:80px; height:26px; display:block; text-indent:-9999px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat 0 -124px; position:absolute; right:20px; bottom:-26px;}
.sz_orderSq{ width:80px; height:26px; display:block; text-indent:-9999px; background:url(https://image.zuchecdn.com/newversion/common/order.png) no-repeat 0 -160px; position:absolute; right:20px; bottom:-26px; display:none;}
#rentInfo{ display:none;background:#fff;border-top:0; position:relative;}
/*付款-信用卡信�?*/
.orderCredit,.Payment{ padding:38px; background:#fff;}
.orderCredit ul li{ color:#4d4d4d; overflow:hidden;*zoom:1; line-height:25px; margin:12px 0;}
.orderCredit ul li label{ width:170px; line-height:28px; display:inline-block; float:left; font-size:14px; text-align:right;}
.orderCredit ul li span,.orderCredit ul li input,.orderCredit ul li select,.orderCredit ul li img{ display:block; float:left;}
.orderCredit ul li input{ color:#b2b2b2; border:solid 1px #9c9c9c; height:23px; line-height:23px;}
.orderCredit ul li select{ color:#b2b2b2; border:solid 1px #9c9c9c; height:24px; line-height:24px; margin-right:8px;}
.orderCredit ul li .bank{ width:190px; height:36px;border:solid 1px #ddd;}
.orderCredit ul li .paySafe{border-top:dashed 1px #febf90; width:728px;}
.orderCredit ul li img.iconCredit{ margin:2px 5px 0 0;}
.orderCredit ul li input.button{height:25px; line-height:25px; color:#4d4d4d; font-weight:bold; text-align:center; padding:0 5px; background:url(https://image.zuchecdn.com/newversion/common/bgline.png) repeat-x left top;  margin-left:5px; cursor:pointer;}
.orderCredit ul li input.agreeRule{ width:141px; height:32px; background:url(https://image.zuchecdn.com/newversion/common/agree.png) no-repeat left center; text-indent:-9999px; border:0; cursor:pointer;}
/*支付平台*/
.paymentWrap{ position:relative; padding-top:44px;}
.paymentTab{ height:46px;overflow:hidden; *zoom:1; position:absolute; left:0; top:0; z-index:99;}
.paymentTab span{ float:left; font-family:"微软雅黑"; line-height:45px; padding:0 20px;}
.paymentTabUl{ height:46px; float:left;}
.paymentTabUl li{ width:78px; height:43px; line-height:43px; text-align:center; border:solid 1px #dbe4eb; border-bottom:0; float:left;margin-right:10px; color:#848484;font-weight:bold; font-size:14px; cursor:pointer;}
.paymentTabUl li.cur{ width:76px; height:44px; color:#333; border-width:2px; border-color:#61a1df; background:#fff;}
.paymentWrap .cur{ display:block;}
.Payment{ color:#848484; display:none;}
.Payment01{ padding-top:0;}
.payTitle p{padding-left:26px;}
.payNext{ padding-left:46px;}

/*储值卡*/
.Payment03 .payBank li{ width:auto;}
.Payment03 .payBank li span{ line-height:31px; display:inline-block;border:solid 1px #e2e2e2; cursor:pointer;}
.storedCard{overflow:hidden; *zoom:1;}
.storedCard dt{ margin-right:30px; padding-top:6px; float:left;}
.storedCard dd{ float:left; color:#848484; line-height:24px;}

/*订单提示�? */
.orderDialog{ width:528px; min-height:150px;}
.orderDialog h3{ height:34px; line-height:34px; background:#f1f1f1;}
.orderDialog .warning{  background:#eaf6fd; height:39px;}
.orderDialog .close{ width:34px; height:34px; display:inline-block; background:url(https://image.zuchecdn.com/newversion/common/close.png) no-repeat 0 0; text-indent:-9999px; float:right;}

/*遮罩�?*/
#fullbg {  
    background-color:#000;  
    left:0px;  
    opacity:0.5;  
    position:absolute;  
    top:0px;  
    z-index:999;  
    filter:alpha(opacity=50); /* IE6 */  
    -moz-opacity:0.5; /* Mozilla */  
    -khtml-opacity:0.5; /* Safari */  
}  
#dialog {  
    background-color:#FFF;  
    border:5px solid #666;  
    display:none;  
    height:710px;  
    left:50%;  
    margin:-355px 0 0 -40%; 
    position:fixed !important; /* 浮动对话�? */
    position:absolute;  
    top:50%;  
    width:80%;  
    z-index:99999;  
} 
#dialog p.close {  
    text-align:right;	
	padding:5px 5px 0 0;
	height:35px;
	border-bottom:solid 1px #dbe4eb;
} 
#dialog .mapSearch{ height:48px; background:#f1f1f1; padding-top:7px; overflow:hidden;}
.orDeBoxRight h3 a.aEdit{float:none; background:none; padding:0; display:inline; font-size:12px;}
/*换门店看�?*/
.order_alterationshop{width:700px; background:#fff; position:relative; padding-bottom:22px}
.order_alterationshop ul li .shopname {height: 75px; line-height:75px;float:right;color: #848484; font-size:14px; font-weight:bold; margin-right:135px;}
.order_alterationshop ul li .orderPrice{ position:absolute; right:30px; top:30px;min-width:125px; text-align:right;}
#shoplistcontent{/*height:340px;*/}
.shoplist dt{ color:#333333; font-weight:bold; font-size:14px; padding-bottom:10px;}
.shoplist dd{ color:#848484; font-size:14px; border-bottom:1px dashed #dbe4eb; padding:14px 0px 6px 0px;*+padding:15px 0px; line-height:34px;}
.shoplist .shoplistname{ width:150px; float:left; margin-left:30px;}
.shoplist .shoplistprice{width:140px; float:left;}
.shoplist .shoplistjl{width:85px; float:left; text-align:center;}
.shoplist .shoplistgj{width:80px; float:left;text-align:center;margin-left:50px;}
.shoplist .shoplistbut{width:100px; float:left; text-align:right;margin-left:30px;}
.shoplistprice .sz_priceOrange{border-bottom:1px dashed #ff6600}
.shoplistprice .sz_priceOrangeNoBorder{border-bottom:0px dashed #ff6600}
.shoplistprice .sz_priceOrange .num{ font-size:24px;}
#page_navigation a{padding:6px 10px;border:1px solid #dbe4eb;margin:2px;color:black;text-decoration:none; color:#848484; font-size:14px;}
#page_navigation a.active_page{border-bottom:2px solid #61a1df;color:#61a1df !important;}
#page_navigation a.previous_link,#page_navigation a.next_link{font-size:12px;padding:8px 8px 7px 8px;}
#page_navigation{margin-right:15px; position:absolute; right:20px; height:30px; line-height:30px;}
/*登录样式*/
.login_info{width:291px; min-height:250px; padding:17px 25px; background:#f5f5f4;}
.login_info h2{font-size:18px;font-family: "微软雅黑", arial, Simsun, sans-serif; font-weight:normal; position:relative;}
.login_info a.reg{font-size:12px; color:#61a1df;}
.login_info ul{margin-top:5px;}
.login_info li{ height:31px; line-height:31px; padding-top:15px;}
.login_info label{ padding-left:5px;}
.w220{ width:213px; color:#b9b9b9;}
.loginbut{ padding-left:52px; padding-top:5px;}
.loginbut input{ vertical-align:middle;}
.loginbut a{color:#333; text-decoration:none;}
input.loginipt{height:37px; width:220px; color:#fff; font-size:16px; font-weight:bold;}
.closeLogin{ position:absolute; top:-10px; right:-20px;}
.sz_hhfont{position:absolute;margin:-30px 0 0 222px;*+margin:0px;line-height:15px;}

/* 车型选择页面的会员登�?  上线后要删掉*/
.order_carTypes_memberLogin{background:url(https://image.zuchecdn.com/common/order_carTypes_memberLogin_top.png) no-repeat; width:373px;}
.order_carTypes_memberLogin li{ padding-left:43px; background:#fff6d6;}
.order_carTypes_memberLogin li span, .order_carTypes_adjustStores li span{ padding-right:20px;}
.order_carTypes_memberLogin li a, .order_carTypes_adjustStores li a{color:#233f83; text-decoration:underline;}
.order_carTypes_adjustStores { width:460px;}
/*  2014.01.14 add */
.weekDisc{display:inline-block; width:93px; height:25px; line-height:23px; padding-left:12px; position:absolute;top:0;right:-110px; background:url(https://image.zuchecdn.com/newversion/common/yh.png) no-repeat left center;}
.poswrap{position:relative; display:inline-block;}
/*  2014.02.11 add */
.orderdzbinfo{color:#ff6600;font-size:12px;display: inline-block;line-height: 36px;padding: 0 10px;border:1px solid #ff6600;vertical-align: top;}
.orderpfjl{ background:url(https://image.zuchecdn.com/newversion/common/orderpfjl.png) no-repeat; position:absolute; width:186px; height:38px; top:20px; left:-4px;}
/* 星级评分 */
.shop-rating { height: 38px; overflow: hidden; zoom: 1; padding: 2px 0px; position: relative; z-index: 999;margin-left:220px; }
.shop-rating span { height: 35px; display: block; line-height: 35px; float: left; }
.shop-rating span.title { width: 125px; text-align: right; margin-right: 5px; color:#333333; font-size:14px;}
.shop-rating ul { float: left; margin: 0; padding: 0 }
.shop-rating .result { margin-left: 20px; padding-top: 2px; color:#999; font-size:14px;}
.shop-rating .result span { color: #ff6d02; }
.shop-rating .result em { color: #f60; font-family: arial; font-weight: bold; }
.shop-rating .result strong { color: #666666; font-weight: normal; }
.rating-level, .rating-level a { background: url(https://image.zuchecdn.com/newversion/common/star_v2.png) no-repeat scroll 1000px 1000px; }
.rating-level { background-position: 0px 0px; width: 215px; height: 35px; position: relative; z-index: 1000; }
.rating-level li { display: inline; }
.rating-level a { line-height: 35px; height: 35px; position: absolute; top: 0px; left: 0px; text-indent: -999em; *zoom: 1;outline: none; }
.rating-level a.one-star { width: 20%; z-index: 6; }
.rating-level a.two-stars { width: 40%; z-index: 5; }
.rating-level a.three-stars { width: 60%; z-index: 4; }
.rating-level a.four-stars { width: 80%; z-index: 3; }
.rating-level a.five-stars { width: 100%; z-index: 2; }
.rating-level .current-rating, .rating-level a:hover { background-position: 0 -39px; }
.rating-level a.one-star:hover, .rating-level a.two-stars:hover, .rating-level a.one-star.current-rating, .rating-level a.two-stars.current-rating { background-position: 0 -156px; }
.rating-level .three-stars .current-rating, .rating-level .four-stars .current-rating, .rating-level .five-stars .current-rating { background-position: 0 -39px; }
.evaluatePresent{position:absolute; min-width:180px;border:2px solid #edecea; background:#f6f5f1; right:20px;top:-18px; color:#ff6600;}
.evaluatePresent img{ vertical-align:middle;}
.textarea_font{ font-size:12px; color:#999; position:absolute; bottom:50px; right:210px;}
.orderpfsuss{font-size:24px;font-family: "微软雅黑", arial, Simsun, sans-serif;color:#346635; height:150px;}
.orderpfsuss .greencheckbig{ vertical-align:middle;}
.orderpfsuss p{line-height:30px;padding-top:10px; padding-left:360px;}
.orderpfyjtj{height:130px; color:#61a1df;font-size:24px;font-family: "微软雅黑", arial, Simsun, sans-serif;}
.orderpfgq{height:130px; color:#848484;font-size:24px;font-family: "微软雅黑", arial, Simsun, sans-serif;}
/*  2014.02.20 发票省、市、区 下拉样式  add */
.selectContent{width:140px;height:240px;max-height:240px; overflow:scroll; overflow-x:hidden;background-color:#fff;*+width: 145px;*+margin-left: -15px;*+border: 1px solid #61a1df;*+border-top-style:dashed;}
.totalPriceFixed{position:fixed; bottom:0; left:465;z-index: 99;}
/*20140527order complemented*/
.order-registerinfo{padding-top:18px;width:650px;margin-left:20px;}
.order-registerinfo li{padding:1px 0px 1px 0px;color:#333;float:left;width:300px;}
.order-registerinfo li.registerEH{padding:1px 0px 1px 80px; line-height:0px;width:220px;height:15px;}
.order-registerinfo li.registerEH .rebwrong_icon{ display:none;}
.order-registerinfo label{display: inline-block;padding-right: 5px;text-align: right;vertical-align: middle;width: 72px; font-size:12px;}
.order-registerinfo label em{color:#f00; padding-right:5px; font-style:normal;}
.order-registerinfo input{width:200px;color:#b9b9b9;}
.order-registerinfo li.registerTK{ margin:15px 0px;}
.order-registerinfo li.registerTK input{ vertical-align:middle;}
.order-registerinfofoot li{width:580px;border-top:1px solid #e2e4e3;color:#f00;padding:8px 0px 8px 20px;margin-left:30px}
.top_new_tip_btn{display: inline-block;*+display: inline;position: relative;}
.top_new_tip_btn img{position: absolute; top: -10px;left: 26px;}
/*20140704以后可以删除*/
.alert_div{position:absolute;z-index:2000;width:476px;top:250px; height:305px;left:50%;margin-left:-238px;background:url(https://image.zuchecdn.com/newversion/temporary/order-workdaybg.png) no-repeat;}
.funclose{width:36px;height:36px;display:block;margin-left:430px;background:url(https://image.zuchecdn.com/newversion/temporary/order-workdaygb.png) no-repeat;}
.funiknow{width:196px;height:37px;line-height:37px;background:#43bb77;text-align: center;color:#fff;display:inline-block;font-size:20px;font-family: "微软雅黑", arial, Simsun, sans-serif;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.funiknow:hover,.funclose:hover{text-decoration: none;}
.alert-font{font-size:22px;color:#3d9898;line-height:40px;padding-left:20px;font-family: "微软雅黑", arial, Simsun, sans-serif;}
.alert-font span{font-size:26px;font-family: "微软雅黑", arial, Simsun, sans-serif;}
.alert-font span b{font-family: "宋体";}
.louko{border:2px solid #fff;width:820px;height:121px;*+height:124px;position: absolute;margin:-132px 0 0 -359px;z-index:2001;}
/*车辆信息200140616*/
.orderCarInfor-title{font-size:12px;font-family:"宋体";color:#61a1df;height:35px;line-height:35px;}
.orderCarInfor-title b{font-weight:normal;color:#333333}
.carInfor-left{width:657px;}
.carInfor-left h1,.carInfor-left h2{height:50px; line-height:50px;padding-left:25px;font-weight:normal;color:#333333; font-size:16px;font-family: "微软雅黑", arial, Simsun, sans-serif; border-bottom:1px solid #61a1df;}
.carInfor-left h1{ border-bottom:1px solid #dbe4eb;}
.carInfor-left h2{margin:10px 0;}
.carInfor-xj li{width:301px;height:38px; line-height:38px;padding:0 5px 0 20px;border-bottom:1px dashed #dbe4eb;float:left;color:#333333;font-family:"宋体";}
.carInfor-xj li.w326{width:326px;padding-left:0px;}
.carInfor-xj li.nonebd{border:none;}
.carInfor-xj p{color:#333333;font-family:"锟斤拷锟斤拷";padding:0 5px 5px 20px;}
.carInfor-xj b{ display:inline-block;width:20px;margin-right:5px; vertical-align:middle;}
.carInfor-xj-a a{display:block;float:left;margin:5px 50px 5px 0px;color:#61a1df;}
.pp,.cx,.ndk,.pzk,.zws,.cms,.rllx,.bsxlx,.pl,.rybh,.qdfs,.fdjjqxs,.pfbz,.tc,.yxrl,.yx,.zy,.tc,.qin,.dvd,.gps{background-image:url(https://image.zuchecdn.com/newversion/common/orderCarInforbg.png);background-repeat:no-repeat;}
.pp{height:18px; background-position:0px 0px}
.cx{height:13px; background-position:0px -22px}
.ndk{height:17px; background-position:0px -40px}
.pzk{height:16px; background-position:0px -62px}
.zws{height:18px; background-position:0px -83px}
.cms{height:18px; background-position:0px -107px}
.rllx{height:16px; background-position:0px -131px}
.bsxlx{height:18px; background-position:0px -152px}
.pl{height:11px; background-position:0px -175px}
.rybh{height:18px; background-position:0px -190px}
.qdfs{height:16px; background-position:0px -213px}
.fdjjqxs{height:15px; background-position:0px -233px}
.pfbz{height:14px; background-position:0px -251px}
.tc{height:14px; background-position:0px -270px}
.yxrl{height:19px; background-position:0px -288px}
.yx{height:15px; background-position:0px -309px}
.zy{height:16px; background-position:0px -329px}
.tc{height:18px; background-position:0px -350px}
.qin{height:17px; background-position:0px -373px}
.dvd{height:17px; background-position:0px -395px}
.gps{height:19px; background-position:0px -416px}
#ifocus { width:627px;height:272px;margin:15px;}
 #ifocus_pic {display:inline;position:relative; float:left; width:492px; height:271px; overflow:hidden;border:1px solid #dbe4eb;border-bottom-width:2px;}
#ifocus_piclist {position:absolute;}
#ifocus_piclist li { width:492px;height:271px; overflow:hidden;}
#ifocus_piclist img {width:492px;height:271px; }
#ifocus_btn {display:inline; float:right; width:118px; }
#ifocus_btn li { width:118px; height:64px;cursor:pointer;margin-bottom:2px;border:1px solid #dbe4eb;background-color:#111746;}
#ifocus_btn img { width:118px;height:64px;}
#ifocus_btn .current {background-color:#61a1df;}
#ifocus_btn .current img {width:114px;height:60px;margin:2px;}
#ifocus_tx { position:absolute; left:8px; bottom:8px; color:#FFF; }
#ifocus_tx .normal{display:none;}
.hdCar li{border-top:dashed 1px #dbe4eb; padding:6px 118px 5px 20px; text-align:center;position: relative;border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff}
.hdCar li:hover{border:1px solid #61a1df}
.hdCar li a:hover{text-decoration:none;}
.activelistcarinfor{position: absolute; min-width:170px; top:5px; right:10px;}
.activelistcarinfor p{padding-top:3px;}
.tjzq li{ width:284px; height:144px; padding:0 20px; border:solid 1px #fff;position: relative;}
.tjzq img{position:absolute;top:37px;left:15px;display: block;width: 185px;height: 68px;}
.tjzq .activelistcarinfor{ top:30px; right:35px;}
.tjzq  a{ color:#3b3b3b;}
.tjzqLeft li{ padding:0; width:297px;border-top:dashed 1px #dbe4eb;}
.tjzqLeft .activelistcarinfor{ right:25px;}

/* 特价套餐  */
.tejiataocan{font-family:"微软雅黑";}
.tejiataocan h3{font-size: 22px;font-weight: normal;font-family:"微软雅黑";color: #363535;}
.tejiataocan h3 span{font-size: 18px;color:#ff7428;}
.tejiataocan ul li{height:73px;background:url(https://image.zuchecdn.com/newversion/common/bg_tjtc.png) no-repeat;cursor: pointer;color: #fff;margin-bottom: 5px;font-family:"微软雅黑";}
.tejiataocan ul li:hover{background:url(https://image.zuchecdn.com/newversion/common/bg_tjtcHover.png) no-repeat;}
.tejiataocan ul li span{display: inline-block;width: 138px;height: 73px;line-height: 73px;text-align: center;font-size: 30px;}
.tejiataocan ul li em{font-family:Arial;font-size: 45px;padding-left: 30px;}
.tejiataocan ul li em font{font-size: 30px;}
.tejiataocan p{font-size: 15px;color: #919090;padding: 5px 0 10px 0;}
/*20140625订单手机推广*/
#leftaccomp{position:absolute;width:195px;height:330px;}
.orderaccomplishbox{background:url('https://image.zuchecdn.com/newversion/common/orderaccomplishbg.png') no-repeat center top;text-align:right;padding-top:8px;}
.orderaccomplishclosebox{position:relative;display:none;width:105px;margin-left:18px;background:url('https://image.zuchecdn.com/newversion/common/orderaccomplishclosebg.png') no-repeat center 36px;}
.order_june_ts{line-height:20px; background: #fff1d6; color:#8b4932; font-size:12px;padding:0 10px 0 15px;position: absolute;right:0px;top:5px;}
.order_june_ts img{margin:-2px 0 0 -20px;}
.order_june_tstt{color:#ff7428;clear: both;white-space: nowrap;  position: absolute;bottom: 0px;left: 10px;}
.orderlist_activity{height:58px;background:#ff7e34 url(https://image.zuchecdn.com/newversion/news/common/activelistbg.jpg) repeat-x;border-bottom:solid 1px #dbe4eb;}
.orderlist_activity td{height:58px;}
.orderlist_activity span.p14,.orderlist_activity a{color:#fff;font-size:14px;font-weight:bold;font-family: '宋体'}
.orderlist_activity a{white-space:nowrap;text-decoration: underline;display: block;width:80px;}
.orderlist_activity span.color{color:#fefe94;font-size:14px;font-weight:bold;font-family: '宋体'}
.orderlist_acclose{cursor: pointer;}
.lfoatcoupon{width:193px;height:235px;position:fixed;top:220px;left:200px;z-index:99;background:url('https://image.zuchecdn.com/newversion/news/common/leftfloatcouponbg.png') no-repeat left top;}
.lfoatcoupon a.lfcclose{display: block; width:30px;height:30px;margin-right:15px;float:right;}
.lfoatcoupon p{padding-left:57px;clear:both;width:95px;padding-top:50px;height:74px;font-size:14px;color:#192938;font-family: 'microsoft yahei', "黑体";}
.lfoatcoupon p span.color{color:#fc6f30;}
.lfoatcoupon a.lfclook{display:block;margin-left:52px;width:99px;height:49px;color:#fde9be;font-size:16px;text-align:center;line-height:42px;font-family: 'microsoft yahei', "黑体";background:url('https://image.zuchecdn.com/newversion/news/common/leftfloatlookbut.png') no-repeat left top;}
.lfoatcoupon a.lfclook:hover,.lfoatcoupon a.lfcclose:hover{text-decoration:none;}

.greenbgbd.yellow{background:#fdfce7;border:1px solid #dadadf;border-bottom-width:1px;}
.yy-tip{position:absolute;top:42px;right:200px;font-size:14px;color:#fabe00;}
.sz_greenbbb.bhgray{border-bottom:1px dashed #dadadf;}
.td_privilege{padding:8px 0;}
.privilege_icon{
            display: inline-block;
            height: 16px;
            line-height: 16px;
            background-color: #fff;
            font-size: 12px;
            text-align: center;
            border: 1px solid #fabe00;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color:#fabe00;
        }
        .privilege_icon{padding:0 5px;}
/**微信扫码支付**/
.sz_OrderpOrangeS .zcmficon{*float:left;*clear:right;}
 .alipay-box{padding:45px 0 60px 0;}
.alipay-qr-warp{width:920px;height:580px;margin: 0 auto;padding:40px;   -webkit-box-shadow: 0 0 20px rgba(163,163,163,.5);  -moz-box-shadow: 0 0 20px rgba(163,163,163,.5);box-shadow: 0 0 20px rgba(163,163,163,.5);background: #fff url('https://image.zuchecdn.com/newversion/quickpay/alipay-qr-warp.png') no-repeat 616px 118px;}
.alipay-qr-warp h2{font-size: 24px;font-weight: normal;line-height:30px;font-family: 'microsoft yahei', "黑体";color: #06060c;}
.alipay-money{width: 302px;padding-left: 155px;}
.alipay-money p{font-size: 18px; color: #60606c;text-align: center;line-height: 60px;padding-top: 15px;}
.alipay-money p em{color:#fabe00;font-size:16px;font-style: normal;}
.alipay-money p span{color:#fabe00;font-size:30px;font-style: normal;font-family: arial, "Microsoft yahei"}
.alipay-money .qr{padding:10px;background-color: #fff;border:1px solid #dadadf;}
.alipay-money .tipe{width:182px;height: 52px;padding-top:8px;padding-left:120px;color: #fff;margin-top: 20px;font-size: 16px;line-height: 22px;background: #fabe00 url('https://image.zuchecdn.com/newversion/quickpay/alipay-qr-kk.png') no-repeat 61px 9px;}